# production for production env, any for others
NODE_ENV=production
MONGO_URI=<mongo db uri>
WEB_APP_PORT=8080

# testnet | mainnet | emulator
NETWORK = testnet

# format: <address1>:<private key1>,<address2>:<private key2>
EMULATOR_ACCOUNTS = 0xf8d6e0586b0a20c7:98e4e163c9494dbfc2dc271f48941ed7113890d5fddc2cfa8a603836a09806b8
EMULATOR_ACCESS_NODE = https://localhost:8080
EMULATOR_MARKETPLACE_CONTRACT = 0xf8d6e0586b0a20c7
EMULATOR_MARKETPLACE_CREATED_BLOCKNUMBER = 0

# format: <address1>:<private key1>,<address2>:<private key2>
TESTNET_ACCOUNTS = 
TESTNET_ACCESS_NODE = https://access-testnet.onflow.org
TESTNET_MARKETPLACE_CONTRACT = 
TESTNET_MARKETPLACE_CREATED_BLOCKNUMBER = 

# format: <address1>:<private key1>,<address2>:<private key2>
MAINNET_ACCOUNTS = 
MAINNET_ACCESS_NODE = https://access.onflow.org
MAINNET_MARKETPLACE_CONTRACT = 
MAINNET_MARKETPLACE_CREATED_BLOCKNUMBER = 
